<!--<p class="tableau">{{ titre }}</p>-->
<div>
  <mat-toolbar class="black-toolbar">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
          <!--<img src="./assets/log.jfif" alt="Logo" >-->
      </button>
     <!--<span>My App</span>--> 
      <span class="example-spacer"></span>
      <div class="buttons">
          <!--<a href="/" class="mat-button-like">Home</a>
          <a href="/tableau" class="mat-button-like">Voir Tableau</a>-->

      </div>
  </mat-toolbar>
</div>
<div>
  <!--<app-formulaire class="formulaire"></app-formulaire>-->

  <app-list-kpi class="formulairi"></app-list-kpi>
</div>
