<body>
    <div class="container">
        <div class="content">
            <div class="text">
                <mat-icon class="quote-icon">format_quote</mat-icon>
                <h1 class="animate-typewriter">Observation des KPIS selon des Tendances.</h1>
                <p class= "para">Solution pour Observer des<br>Indicateurs Clés de Performance,<br>
                permettant de mésurer des métriques,<br>assurer une vue sur l'évolution des activités,<br> surveiller la progression des objectifs,<br>
            faciliter la communication des résultats entre les équipes,<br>
        permettre un suivi régulier et une analyse approfondie pour détecter<br>les tendances, les anomalies et les opportunités d'amélioration<br>
    et enfin, faciliter la prise de décision 
    <mat-icon class="mood-icon">mood</mat-icon></p>
    <mat-icon class="quote-icon">format_quote</mat-icon>
                
            </div>
            <div class="image">
                <img src="assets/kpi1.avif" alt="Your Image" class="aligned-image">
            </div>
        </div>
    </div>
</body>
